.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #085f7c;
}

.button:disabled {
  cursor: not-allowed;
}
